/*especificidad -> 1*/
body{
    font: 400 1.4em Tahoma, sans-serif;
    line-height: 3;
    color: black;
}

/*especificidad -> 1*/
h1{
    text-align: center;
    color: darkslategray;
}

/*especificidad -> 10*/
.container {
    padding: 1em;
    border: solid;
    border-radius: 0.7em;
    width: 70%;
    margin: auto;
    border-color: darkslategray;
    margin-bottom: 1em;
    text-align: center;
}

/*especificidad -> 1*/
ul {
    margin:0;
    padding:0;
    text-align: center;
    list-style-position: inside;             
}

/*especificidad -> 2*/
ul  li {
    padding: 2px 5px;               
}